@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg{
  background-color: rgb(47, 210, 161);
  width: 100%;
  height: 100%;
  text-align: center;
}

.paginate li{
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159, 159, 159);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}